/***********************
SECTION PAGINA CARRITO 
**********************/
.imagenCesta{ /* Clase de carrito */
    height: 400px;
    width: 400px;
    margin-left: 35vw ;
    margin-bottom: 50px;    
}
    .pCarrito {
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
            font-weight: bold;
            font-size: 40px;
            margin: auto;
    }   
 
.pSesion{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

/******************
FIN DE  CARRITO
******************/
@import"_color.scss";
