// Defino libreria de colores

$colorMenuFoo: #382c68;
$colorPorqueN: #35008b;
$colorBlanco: rgb(255, 255, 255);
$colorCuatro: rgb(0, 0, 0, .3);
$colorBoxShadown: rgb(0, 0, 0, .6);
$dropShadow: rgba(0, 0, 0, 0.23);
$ColorBoxShadow2: rgba(255, 255, 255, 0.11);
$ColorContacto: rgba(121, 121, 121, 0.8);
$ColorMoradoContato: #9471d8;
$ColorBotonContacto:#6500c4;
$ColorMoradoDescuento: #5f37b1;
$ColorRojo: #c72727;
$ColorBotonesRosa1:  rgb(236, 177, 217);
$ColorBotonesRosa2:  rgb(228, 110, 190);
$ColorBotonesRosa3:  rgb(226, 87, 182);




// FONDOS
$colorBody: #f1e7f7;


